/* General Styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: TFArrow, "Times New Roman", Times, Baskerville, Georgia, serif;
    width: 100%;
    background-color: black;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ul{
    list-style-type: none;
}

/*========== First Section of the page which occupies first 100vh unit  of the page =========*/
.first-section{
    height: 100vh;
    width: 100%;
    background-image: url(../Assets/Images/pool-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45vh 0 0 10rem;
}

/*========= Header which contains logo and navigation buttons ===============================*/
header{
    width: 100%;
    height: 71px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 111;
}
/* Div containing main logo of jumeirah and navigation buttons */
.logo-tools{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
/* Main logo picture of the header */
.main_logo{
    height: 41.5px;
    width: 130px;
    font-weight: 200;
}

.navigation{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navigation li{
    user-select: none;
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    padding: 3px;
    border-bottom: 2px solid transparent;
}

.navigation li img{
    height: 12px;
    width: 12px;
    margin-left: 10px;
    transition: transform 0.2s linear;
}

.navigation .active{
    border-bottom: 2px solid white;
}

.navigation .active img{
    transform: rotate(90deg);
}
/* Book now button */
#booknow{
    background-color: #7c6f55;
    padding: 14px 33px;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

header button:hover{
    background-color: #615a4a;
}
/* Dropdown div from navigation links, in which various information will be displayed */
.information{
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    max-height: 600px;
    width: 95%;
    overflow-y: auto;
    padding: 0.5rem 1.5rem;
    padding-bottom: 1rem;
}

/* Info container hotels */
.info_container{
    width: 100%;
    height: 630px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
}

.info_container h3{
    font-size: 21px;
    font-weight: 500;
    color: rgb(143, 143, 143);
    letter-spacing: 0.58px;
    border-bottom: 1px solid white;
    padding-bottom: 0.3rem;
}

.info_container li, a{
    font-size: 21px;
    font-weight: 500;
    line-height: 26.04px;
    color: rgb(143, 143, 143);
    letter-spacing: 0.58px;
}

.info_container li{
    margin: 0.6rem 0;
}

.upper{
    color: white;
}

.infoclose{
    color: white;
    font-size: 26px;
    font-weight: 200;
    cursor: pointer;
    background-color: transparent;
    border: none;
    float: right;
}

.infoclose:hover{
    background-color: transparent;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.wrapper ul, .wrapper2 ul, .wrapper3 ul{
    margin-top: 1.5rem;
}

/* Styles for the infobox section of LIFESTYLE button */
.info_container2{
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.infobox{
    height: 280px;
    padding: 0.5rem 0;
    text-align: center;
    border-right: 2px solid hsla(0,0%,100%,.2);
}

.lifestyle_hero{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: 20px;
}

.infobox h3{
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    margin-bottom: 14px;
}

.infobox p{
    margin-bottom: 6px;
}

.infobox p img{
    height: 12px;
    width: 12px;
    margin-left: 2px;
}

 /* Stay different slogan in the middle of the first section and sub slogan under it */
#slogan{
    font-size: 96px;
    color: white;
    font-weight: 500;
}

#slogan_sub{
    font-size: 32px;
    font-weight: 500;
    color: white;
    letter-spacing: 0.9px;
}
/* ========================================== Utility and Experiment Classes ===================================================*/
h3{
    color: white;
    font-size: 22px;
    font-family: TFArrow, "Times New Roman", Times, Baskerville, Georgia, serif;
}

/* This styles are used mainly for links and buttons in navigation bar */
.button-font{
    color: white;
    font-family: TFArrow;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2.33px;
    text-transform: uppercase;
}
/* Invisibility class, now being used for .information div only */
.invisible{
    visibility: hidden;
}

/* Class for h3 element which will be displayed only when viewport falls below 1200px. 
(Temporary, as page is not responsive)*/
.forever{
    display: none;
}

.second-section{
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
}

.info_container3{
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;

    background-color: tomato;
}

.infobox3{
    height: 200px;
    background-color: yellowgreen;
}